a {
  text-decoration: none;
  font-style: normal;
  color: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
form,
input,
button,
p, body {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  height: auto;
}

.header {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 23.96px;
  line-height: 81%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: white;
}

.nav-list-wrap {
  display: none;
}
@media screen and (min-width: 1314px) {
  .nav-list-wrap {
    display: flex;
  }
}

.header-flower {
  position: relative;
  left: 49px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 64px;
}

.nav-list:last-child {
  margin-right: 20px;
}

.nav-item {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  margin-right: 64px;
}

.nav-list-svg {
  position: relative;
  left: 350px;
  display: flex;
}
@media screen and (min-width: 1314px) {
  .nav-list-svg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    left: 45px;
  }
}

.nav-item-svg {
  margin-right: 40px;
  position: relative;
  bottom: 35px;
}

.mob-open {
  position: relative;
  left: 409px;
  bottom: 63px;
  display: block;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .mob-open {
    display: none;
  }
}

.mob-menu {
  color: black;
  background-color: rgba(39, 39, 43, 0.0862745098);
}

.mob-img {
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .mob-img {
    display: none;
  }
}

.is-hidden {
  display: none;
}

.mob-menu.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.mob {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: white;
  transform: translate(-50%, -50%);
  padding-left: 70px;
}

.mob-list {
  margin-bottom: 100px;
}

.mob-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2%;
  margin-bottom: 30px;
  position: relative;
  bottom: 20px;
}

.mob-item:hover {
  color: rgba(163, 135, 107, 0.9294117647);
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobnav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #785a3c;
  margin-bottom: 40px;
}

.mobnav-item:hover {
  color: #785a3c;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-listtwo {
  display: flex;
  justify-content: space-evenly;
}

.mob-itemtwo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2%;
  color: rgba(118, 92, 65, 0.9294117647);
  margin-right: 20px;
}

.mob-close {
  padding: 30px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: none;
  color: black;
  margin-top: 50px;
  margin-left: 210px;
  background-color: rgba(120, 90, 60, 0.6);
}

.indonesia {
  background-image: linear-gradient(215.79deg, rgba(0, 0, 0, 0.31) 29.66%, rgba(0, 0, 0, 0.29) 84.2%), url(../../img/indonesiabackground.png);
  padding-top: 268px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.indonesia-title {
  margin-left: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 58.15px;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  margin-bottom: 8px;
}
@media screen and (min-width: 1314px) {
  .indonesia-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 120px;
    line-height: 130px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 21px;
    color: white;
  }
}

.indonesia-btn {
  margin-left: 70px;
  margin-bottom: 241px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 21px 90px;
  background-color: #DD2242;
  border-radius: 107px;
  border: none;
  color: white;
  margin-bottom: 54px;
}
@media screen and (min-width: 1314px) {
  .indonesia-btn {
    margin-bottom: 241px;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 26px 64px;
    background-color: #DD2242;
    border-radius: 211px;
    border: none;
    color: white;
  }
}

.indonesia-list {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
@media screen and (min-width: 1314px) {
  .indonesia-list {
    background-color: rgba(0, 0, 0, 0.6156862745);
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.indonesia-wrap {
  background-color: rgba(0, 0, 0, 0.6039215686);
  background-position: center;
  width: 100%;
}

.indonesia-item {
  margin-right: 190px;
  margin-bottom: 49px;
}

.indonesia-itm-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #DD2242;
  margin-bottom: 14px;
  margin-top: 41px;
}

.indonesia-itm-undrtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
  color: white;
}

.indonesia-itm-txt {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #939393;
}

.hero {
  background-image: url(../../img/hero-backgroung.png);
  background-repeat: no-repeat;
  background-color: #010A20;
}

.hero-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
    padding-top: 150px;
  }
}

.hero-item {
  margin-bottom: 33.79px;
}

.hero-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: white;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }
}

.hero-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1%;
  color: #E0E0E0;
  margin-bottom: 32px;
}

.hero-btn {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  background-color: #DD2242;
  padding: 22px 108px;
  border-radius: 32px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    padding: 16px 40px;
    display: flex;
    justify-content: center;
  }
}

.hero-list-two {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero-list-two {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding-bottom: 300px;
  }
}

.hero-item-two {
  margin-bottom: 33.79px;
  margin-top: 40px;
}

.hero-title-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: white;
}
@media screen and (min-width: 1200px) {
  .hero-title-two {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }
}

.hero-text-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1%;
  color: #E0E0E0;
  padding-bottom: 21px;
}

.hero-btn-two {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  background-color: #DD2242;
  padding: 22px 108px;
  border-radius: 32px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero-btn-two {
    padding: 16px 40px;
    display: flex;
    justify-content: center;
  }
}

.hero-beaches {
  width: 314px;
  height: 232px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .hero-beaches {
    width: 630.343px;
    height: 460px;
  }
}

.hero-walkways {
  margin-top: 40px;
  width: 314px;
  height: 232px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .hero-walkways {
    width: 630.343px;
    height: 460px;
  }
}

.explore {
  background-image: url(../../img/explorebackground.png);
  background-repeat: no-repeat;
  background-position: center;
}

.explore-img {
  width: 100%;
  display: block;
  padding-bottom: 1464px;
}
@media screen and (min-width: 1200px) {
  .explore-img {
    display: none;
  }
}

.explore-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 23px;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  .explore-title {
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 44px;
  }
}

.explore-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .explore-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1134px;
  }
}

.explore-wrap {
  background-color: rgba(1, 10, 32, 0.8823529412);
  background-position: center;
}

.explore-head {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 85px;
  line-height: 86px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding-top: 72px;
  margin-bottom: 57px;
  color: #FFFFFF;
}
@media screen and (min-width: 1314px) {
  .explore-head {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
  }
}

.explore-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #E0E0E0;
  margin-bottom: 69px;
}
@media screen and (min-width: 1314px) {
  .explore-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 40px;
  }
}

.explore-list-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
@media screen and (min-width: 1314px) {
  .explore-list-two {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 224px;
  }
}

.explore-num-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 42.14px;
  line-height: 49.16px;
  letter-spacing: 0.39px;
  color: #DD2242;
  text-align: center;
}

.explore-txt-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #E0E0E0;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (min-width: 1314px) {
  .explore-txt-two {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #E0E0E0;
    text-align: center;
  }
}

.hills {
  background-image: url(../../img/hillsbackground.png);
  background-repeat: no-repeat;
  background-size: 1300px;
}
@media screen and (min-width: 1200px) {
  .hills {
    background-image: url(../../img/hillsbackground.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: center;
  }
}

.hills-title {
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 60px;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  padding-top: 171px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .hills-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    padding-top: 248px;
  }
}

.hills-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #6F7787;
  margin-bottom: 41px;
}
@media screen and (min-width: 1200px) {
  .hills-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #6F7787;
    margin-top: 32px;
    margin-bottom: 36px;
  }
}

.hills-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  background-color: #DD2242;
  padding: 23px 108px;
  border-radius: 32px;
  border: none;
  margin-left: 85px;
  margin-bottom: 256px;
}
@media screen and (min-width: 1200px) {
  .hills-btn {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    background-color: #DD2242;
    padding: 16px 40px;
    border-radius: 32px;
    border: none;
    position: relative;
    left: 520px;
    margin-bottom: 256px;
  }
}

.video {
  background-image: url(../../img/videobackgroun.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(1, 10, 32, 0.9568627451);
}

.video-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  padding-bottom: 83px;
}
@media screen and (min-width: 1314px) {
  .video-title {
    padding-top: 141px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    margin-bottom: 67px;
  }
}

.video-img {
  margin-bottom: 40px;
  width: 410px;
  height: 210px;
  margin-left: 25px;
}
@media screen and (min-width: 1314px) {
  .video-img {
    width: 1056px;
    height: 594px;
    border-radius: 10px;
    margin-left: 120px;
    margin-bottom: 125px;
  }
}

@media screen and (min-width: 1314px) {
  .video-list {
    display: flex;
    flex-direction: row;
  }
}

.video-item {
  flex-direction: row;
  margin-right: 41px;
}

.item-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 19px;
}
@media screen and (min-width: 1314px) {
  .item-title {
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
}

.item-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(255, 255, 255, 0.833);
  margin-bottom: 30px;
}
@media screen and (min-width: 1314px) {
  .item-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1314px) {
  .video-list-two {
    display: flex;
  }
}

.video-item-two {
  margin-right: 20px;
}

.item-title-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 19px;
}
@media screen and (min-width: 1314px) {
  .item-title-two {
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
}

.item-text-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(255, 255, 255, 0.833);
  margin-bottom: 30px;
}
@media screen and (min-width: 1314px) {
  .item-text-two {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
}

.video-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
@media screen and (min-width: 1314px) {
  .video-wrap {
    display: flex;
    flex-direction: row;
    padding-bottom: 255px;
  }
}

.item-img {
  width: 314px;
  height: 176px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1314px) {
  .item-img {
    width: 233;
    height: 151px;
  }
}

.item-img-two {
  width: 314px;
  height: 176px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1314px) {
  .item-img-two {
    width: 233;
    height: 151px;
  }
}

.parent {
  margin-left: 80px;
}
@media screen and (min-width: 1314px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 60px;
  }
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 2/1/3/2;
}

.div3 {
  grid-area: 1/2/2/3;
}

.div4 {
  grid-area: 2/2/3/3;
}

.div5 {
  grid-area: 1/3/2/4;
}

.div6 {
  grid-area: 2/3/3/4;
}

@media screen and (min-width: 1314px) {
  .parent-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
}

.girls {
  width: 151px;
  height: 217px;
}
@media screen and (min-width: 1314px) {
  .girls {
    width: 370px;
    height: 530px;
  }
}

.beach-img {
  width: 151px;
  height: 86px;
}
@media screen and (min-width: 1314px) {
  .beach-img {
    transform: translateY(-200px);
    width: 370px;
    height: 210px;
  }
}

.smoke-img {
  width: 150px;
  height: 153px;
  transform: translateY(-465px);
  margin-left: 170px;
}
@media screen and (min-width: 1314px) {
  .smoke-img {
    transform: translateY(-350px);
    width: 370px;
    height: 370px;
    margin-left: 0;
  }
}

.mountain-img {
  width: 151px;
  height: 217px;
  transform: translateY(-220px);
  margin-left: 170px;
}
@media screen and (min-width: 1314px) {
  .mountain-img {
    width: 370px;
    height: 530px;
    transform: translateY(22px);
    margin-left: 0;
  }
}

@media screen and (min-width: 1314px) {
  .firstphotoeswrap {
    margin-left: 20px;
  }
}

.volcano {
  width: 151px;
  height: 86px;
  transform: translateY(-535px);
  margin-left: 170px;
}
@media screen and (min-width: 1314px) {
  .volcano {
    width: 370px;
    height: 210px;
    transform: translateY(0px);
    margin-left: 0px;
  }
}

.chel {
  width: 150px;
  height: 153px;
  transform: translateY(-310px);
}
@media screen and (min-width: 1314px) {
  .chel {
    width: 370px;
    height: 370px;
    margin-left: 0;
    transform: translateY(0px);
  }
}

.gallery-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #010A20;
  padding-top: 100px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1314px) {
  .gallery-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding-top: 177px;
    margin-bottom: 41px;
  }
}

.gallery-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #6F7787;
  margin-bottom: 30px;
}
@media screen and (min-width: 1314px) {
  .gallery-text {
    font-family: "DM Sans" sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1%;
    text-align: center;
    margin-bottom: 71px;
  }
}

.getting {
  background-color: #DCE8F2;
  padding-bottom: 50px;
}

.getting-itm-wrap {
  display: flex;
}

.getting-item-img {
  width: 485px;
  z-index: 1;
  position: relative;
  right: 77px;
  margin-top: 32px;
}
@media screen and (min-width: 1314px) {
  .getting-item-img {
    margin-right: 45px;
    width: 249px;
    height: 165px;
    right: 0;
    margin-top: 10px;
  }
}

.getting-item::before {
  content: "";
  display: inline-block;
  background-image: url(../../img/footerone.png), url(../../img/footertwo.png), url(../../img/footerthree.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: 1;
  width: 90px;
  height: 90px;
  position: relative;
  left: 124px;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 1314px) {
  .getting-item::before {
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    transform: translateX(-74px);
    position: relative;
    top: 65px;
  }
}

.getting-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 44px;
  padding-top: 111px;
  margin-left: 50px;
}
@media screen and (min-width: 1314px) {
  .getting-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 44px;
    padding-top: 111px;
    margin-left: 100px;
  }
}

.getting-list {
  margin-left: 0;
}
@media screen and (min-width: 1314px) {
  .getting-list {
    margin-left: 100px;
  }
}

.getting-item {
  margin-left: 60px;
}
.getting-itm-txt {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 20px;
}
@media screen and (min-width: 1314px) {
  .getting-itm-txt {
    display: none;
  }
}

.getting-itm-lnk {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #DD2242;
  margin-left: 120px;
}
@media screen and (min-width: 1314px) {
  .getting-itm-lnk {
    display: none;
  }
}

.getting-itm-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 650;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  color: black;
  margin-bottom: 9px;
}
@media screen and (min-width: 1314px) {
  .getting-itm-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 26.41px;
    line-height: 41.08px;
    letter-spacing: 0px;
    color: black;
    margin-bottom: 28px;
  }
}

.getting-item-wrptwo {
  color: white;
}

.getting-itm-text {
  display: none;
}
@media screen and (min-width: 1314px) {
  .getting-itm-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 23.47px;
    line-height: 38.15px;
    letter-spacing: 0px;
    color: rgba(21, 20, 57, 0.4);
    margin-bottom: 79px;
    display: flex;
  }
}

.getting-itm-text:last-child {
  margin-bottom: 30px;
}

.getting-btn {
  display: none;
}
@media screen and (min-width: 1314px) {
  .getting-btn {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    background-color: #DD2242;
    padding: 18px 56px;
    border-radius: 122px;
    margin-left: 110px;
    margin-bottom: 65px;
    border: none;
  }
}

.navig {
  padding-top: 40px;
  background-color: #010A20;
  padding-bottom: 105px;
}
@media screen and (min-width: 1314px) {
  .navig {
    padding-bottom: 0;
  }
}

.navig-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1314px) {
  .navig-list {
    align-items: center;
    flex-direction: row;
  }
}

.navig-logo-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 38px;
}
.navig-item {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 25.94px;
  line-height: 35.69px;
  letter-spacing: 0.64px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
@media screen and (min-width: 1314px) {
  .navig-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: white;
    margin-right: 25px;
  }
}

.header-logo {
  margin-right: 124px;
  padding-top: 39px;
}

.navig-list-svg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 20px;
}
@media screen and (min-width: 1314px) {
  .navig-list-svg {
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 70px;
    flex-direction: row;
  }
}

.navig-item-svg {
  margin-right: 22px;
  position: relative;
  bottom: 50px;
}

.f-logo {
  color: #DD2242;
}

.icon-f {
  width: 24px;
  height: 24px;
}

.icon-copy {
  width: 158px;
  height: 20px;
  margin-left: 20px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  outline: solid black;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1314px) {
  .container {
    max-width: 1314px;
  }
}