a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
form,
input,
button,
p, body {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  height: auto;
}

.header {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 23.96px;
  line-height: 81%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: white;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:first-child {
  margin-right: 7px;
}

.nav-item {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  margin-right: 64px;
}

.nav-list-svg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: 90px;
}

.nav-item-svg {
  margin-right: 40px;
  position: relative;
  bottom: 35px;
}

.indonesia {
  background-image: linear-gradient(215.79deg, rgba(0, 0, 0, 0.31) 29.66%, rgba(0, 0, 0, 0.29) 84.2%), url(../../img/indonesiabackground.png);
  padding-top: 268px;
  background-size: 111vw;
  background-repeat: no-repeat;
}

.indonesia-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 120px;
  line-height: 130px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 21px;
  color: white;
}

.indonesia-btn {
  margin-bottom: 241px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 26px 64px;
  background-color: #DD2242;
  border-radius: 211px;
  border: none;
  color: white;
}

.indonesia-list {
  background-color: rgba(0, 0, 0, 0.6156862745);
  display: flex;
  justify-content: center;
}

.indonesia-item {
  margin-right: 190px;
  margin-bottom: 49px;
}

.indonesia-itm-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #DD2242;
  margin-bottom: 14px;
  margin-top: 41px;
}

.indonesia-itm-undrtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
  color: white;
}

.indonesia-itm-txt {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #939393;
}

.hero {
  background-image: url(../../img/hero-backgroung.png);
  background-repeat: no-repeat;
  background-color: #010A20;
}

.hero-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
    padding-top: 150px;
  }
}

.hero-item {
  margin-bottom: 33.79px;
}

.hero-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: white;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }
}

.hero-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1%;
  color: #E0E0E0;
  margin-bottom: 32px;
}

.hero-btn {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  background-color: #DD2242;
  padding: 22px 108px;
  border-radius: 32px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    padding: 16px 40px;
    display: flex;
    justify-content: center;
  }
}

.hero-list-two {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero-list-two {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding-bottom: 300px;
  }
}

.hero-item-two {
  margin-bottom: 33.79px;
  margin-top: 40px;
}

.hero-title-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: white;
}
@media screen and (min-width: 1200px) {
  .hero-title-two {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
  }
}

.hero-text-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1%;
  color: #E0E0E0;
  padding-bottom: 21px;
}

.hero-btn-two {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  background-color: #DD2242;
  padding: 22px 108px;
  border-radius: 32px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero-btn-two {
    padding: 16px 40px;
    display: flex;
    justify-content: center;
  }
}

.hero-beaches {
  width: 314px;
  height: 232px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .hero-beaches {
    width: 630.343px;
    height: 460px;
  }
}

.hero-walkways {
  margin-top: 40px;
  width: 314px;
  height: 232px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .hero-walkways {
    width: 630.343px;
    height: 460px;
  }
}

.explore {
  background-image: url(../../img/explorebackground.png);
  background-repeat: no-repeat;
  background-position: center;
}

.explore-img {
  width: 100%;
  display: block;
  padding-bottom: 1464px;
}
@media screen and (min-width: 1200px) {
  .explore-img {
    display: none;
  }
}

.explore-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 23px;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  .explore-title {
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 44px;
  }
}

.explore-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .explore-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1134px;
  }
}

.explore-wrap {
  background-color: rgba(1, 10, 32, 0.8823529412);
  background-position: center;
}

.explore-head {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

.explore-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #E0E0E0;
  margin-bottom: 40px;
}

.explore-list-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 224px;
}

.explore-num-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 42.14px;
  line-height: 49.16px;
  letter-spacing: 0.39px;
  color: #DD2242;
  text-align: center;
}

.explore-txt-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #E0E0E0;
  text-align: center;
}

.hills {
  background-image: url(../../img/hillsbackground.png);
  background-repeat: no-repeat;
  background-size: 1300px;
}
@media screen and (min-width: 1200px) {
  .hills {
    background-image: url(../../img/hillsbackground.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: center;
  }
}

.hills-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  padding-top: 171px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .hills-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    padding-top: 248px;
  }
}

.hills-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #6F7787;
  margin-bottom: 41px;
}
@media screen and (min-width: 1200px) {
  .hills-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #6F7787;
    margin-top: 32px;
    margin-bottom: 36px;
  }
}

.hills-btn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  background-color: #DD2242;
  padding: 23px 108px;
  border-radius: 32px;
  border: none;
  margin-left: 70px;
  margin-bottom: 256px;
}
@media screen and (min-width: 1200px) {
  .hills-btn {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    background-color: #DD2242;
    padding: 16px 40px;
    border-radius: 32px;
    border: none;
    position: relative;
    left: 520px;
    margin-bottom: 256px;
  }
}

.video {
  background-image: url(../../img/videobackgroun.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(1, 10, 32, 0.9568627451);
}

.video-title {
  padding-top: 141px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  margin-bottom: 67px;
}

.video-img {
  margin-left: 120px;
  margin-bottom: 125px;
}

.video-list {
  display: flex;
  flex-direction: row;
}

.video-item {
  flex-direction: row;
  margin-right: 41px;
}

.item-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.item-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.video-list-two {
  display: flex;
}

.video-item-two {
  margin-right: 41px;
}

.item-title-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.item-text-two {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.video-wrap {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 255px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 60px;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 2/1/3/2;
}

.div3 {
  grid-area: 1/2/2/3;
}

.div4 {
  grid-area: 2/2/3/3;
}

.div5 {
  grid-area: 1/3/2/4;
}

.div6 {
  grid-area: 2/3/3/4;
}

.parent-wrap {
  display: flex;
  flex-direction: column-reverse;
}

.beach-img {
  transform: translateY(-200px);
}

.smoke-img {
  transform: translateY(-350px);
}

.mountain-img {
  transform: translateY(22px);
}

.firstphotoeswrap {
  margin-left: 20px;
}

.gallery-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #010A20;
  padding-top: 177px;
  margin-bottom: 41px;
}

.gallery-text {
  font-family: "DM Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1%;
  text-align: center;
  margin-bottom: 71px;
  color: #6F7787;
}

.getting {
  background-color: #DCE8F2;
}

.getting-itm-wrap {
  display: flex;
}

.getting-item-img {
  margin-right: 45px;
}

.getting-item::before {
  content: "";
  display: inline-block;
  background-image: url(../../img/footerone.png), url(../../img/footertwo.png), url(../../img/footerthree.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.getting-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 44px;
  padding-top: 111px;
  margin-left: 100px;
}

.getting-list {
  margin-left: 100px;
}

.getting-itm-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 26.41px;
  line-height: 41.08px;
  letter-spacing: 0px;
  color: black;
  margin-bottom: 28px;
}

.getting-itm-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 23.47px;
  line-height: 38.15px;
  letter-spacing: 0px;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 79px;
}

.getting-itm-text:last-child {
  margin-bottom: 30px;
}

.getting-btn {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  background-color: #DD2242;
  padding: 18px 56px;
  border-radius: 122px;
  margin-left: 110px;
  margin-bottom: 65px;
  border: none;
}

.navig {
  padding-top: 40px;
  background-color: #010A20;
}

.navig-list {
  display: flex;
  align-items: center;
}

.navig-item {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: white;
  margin-right: 25px;
}

.header-logo {
  margin-right: 124px;
  padding-top: 39px;
}

.navig-list-svg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 70px;
}

.navig-item-svg {
  margin-right: 22px;
  position: relative;
  bottom: 50px;
}

.f-logo {
  color: #DD2242;
}

.icon-f {
  width: 24px;
  height: 24px;
}

.icon-copy {
  width: 158px;
  height: 20px;
  margin-left: 20px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  outline: solid black;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 1314px) {
  .container {
    max-width: 1314px;
  }
}