 .container{
       width: 1314px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid black;

      @media screen and (min-width: 480px){
       max-width: 480px;
   }

    @media screen and (min-width: 1314px){
        max-width: 1314px;
    }

 }