
.navig{
    padding-top: 40px;
    background-color: #010A20;
 padding-bottom: 105px;
    @media screen and (min-width: 1314px){
 padding-bottom: 0;
    }
}

.navig-list {
display: flex;
 align-items: center;
 flex-direction: column;
 @media screen and (min-width: 1314px){
 align-items: center;   
    flex-direction: row;
    }
}
.navig-logo-wrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 38px;
    margin-left: 120px;
     @media screen and (min-width: 1314px){
margin-left: 0;
    margin-bottom: 0;
    }
}

.navig-item {
      
font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 25.94px;
line-height: 35.69px;
letter-spacing: 0.64px;
color:  #FFFFFF;
margin-bottom: 25px;


 @media screen and (min-width: 1314px){

font-weight: 700;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.5px;
color: white;
margin-right: 25px;
    
    }
}

.header-logo {
    margin-right: 124px;
    padding-top: 39px;
}
.navig-list-svg {

  display: flex;
   align-items: center;
   justify-content:flex-end;
flex-direction: column;
padding-top: 20px ;

 @media screen and (min-width: 1314px){
position: relative;
bottom: 30px;

   justify-content:flex-end;
   position: relative;
flex-direction: row;
    }

}

.wrap-nav{
     @media screen and (min-width: 1314px){
 margin-bottom: 30px;   
 position: relative;
 right: 20px;
}
}

.navgi-wrap{
    display: flex;
    flex-direction: row;
   margin-bottom: 50px;
   margin-left: 35px;
 @media screen and (min-width: 1314px){

}
}
.wraptwo{

}
.navig-item-svg {
margin-right: 40px;

 @media screen and (min-width: 1314px){

    margin-right: 22px;
position: relative;
bottom:50px;
    }


}

.f-logo{
  
     color: #DD2242;
     @media screen and (min-width: 1314px){
 
     color: #DD2242;
    }
}

.icon-f{

 @media screen and (min-width: 1314px){
 
width: 24px;
height: 24px;
    }
}

.icon-copy{
    width: 258px;
height: 30px;
margin-left: 35px;
 @media screen and (min-width: 1314px){
   width: 158px;
height: 20px;
margin-left: 20px;
 position: relative;
 bottom: 40px;
    }

}
