.getting {
    background-color: #DCE8F2;

}
.getting-itm-wrap{
    display: flex;
}
.getting-title{
 font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 60px;
line-height: 150%;
letter-spacing: 0%;
margin-bottom: 44px;
padding-top: 111px;
margin-left: 100px;
}
.getting-list {
    margin-left: 100px;
}

.getting-item {
}
.getting-itm-title {
    font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 26.41px;
line-height: 41.08px;
letter-spacing: 0px;
color: black;
margin-bottom: 28px;
}
.getting-itm-text {
    font-family: "DM Sans",sans-serif;
font-weight: 400;
font-size: 23.47px;
line-height: 38.15px;
letter-spacing: 0px;
color:  #15143966;
margin-bottom: 79px;

}

.getting-btn {
}