.header {
    position: absolute;
top: 28px;
left: 50%;
transform: translateX(-50%);
}
.header-logo {
    font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 23.96px;
line-height: 81%;
letter-spacing: 0.32px;
text-transform: uppercase;
color: white;

}
.nav-list-wrap{
    display: flex;
    
}
.header-flower{
    position: relative;
    left: 49px;
}

.nav-list {
    display: flex;
    align-items: center;
 margin-right: 64px;
    
 
}
.nav-list:last-child{
    margin-right: 20px;
}


.nav-item {
    font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: white;
margin-right: 64px;

}


.nav-list-svg {
    display: flex;
   align-items: center;
   justify-content:flex-end;
   position: relative;
left:45px;
 
 

}
.nav-item-svg {
margin-right: 40px;
position: relative;
bottom: 35px;
}
.nav-item-svg:last-child{
  
}
.header-lypa {
}
.header-burgerm {
}