.indonesia {
    background-image:
    linear-gradient(215.79deg, rgba(0, 0, 0, 0.31) 29.66%, rgba(0, 0, 0, 0.29) 84.2%) ,
     url(../../img/indonesiabackground.png);
    padding-top: 268px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.indonesia-title {
    font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 120px;
line-height: 130px;
letter-spacing: 0%;
text-transform: uppercase;
margin-bottom: 21px;
color: white;

}
.indonesia-btn {
    margin-bottom: 241px;
    font-family: "DM Sans";
font-weight: 700;
font-size: 20px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
padding: 26px 64px;
background-color: #DD2242;
border-radius: 211px;
border: none;
color: white;


}
.indonesia-list {
    background-color: #0000009d;
    display: flex;
    justify-content: center;
    
}
.indonesia-item {
    margin-right: 190px;
    margin-bottom: 49px;

}
.indonesia-itm-title {
    font-family: "Roboto";
font-weight: 900;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #DD2242;
margin-bottom: 14px;
margin-top: 41px;


}
.indonesia-itm-undrtitle {
    font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 26.41px;
line-height: 41.08px;
letter-spacing: 0px;
color: white;

}
.indonesia-itm-txt {
    font-family: "DM Sans",sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.5px;
color: #939393;

}