.video {
background-image: url(../../img/videobackgroun.png);
background-position: center;
background-repeat: no-repeat;
background-color: #010a20f4;
}

.video-title {
font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 75px;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
color: white;
padding-bottom:83px;


@media screen and (min-width: 1314px){
          padding-top: 141px;
    font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 42px;
line-height: 50px;
letter-spacing: 0px;
text-align: center;
color: white;
margin-bottom: 67px;  
    }
}
.video-img {
    margin-bottom: 40px;
  width: 410px;
height: 210px;
margin-left: 40px;
    @media screen and (min-width: 1314px){
    width: 1056px;
height: 594px;

border-radius: 10px;
margin-left: 120px;
    margin-bottom: 125px;

    }

}
.video-list {

  
        @media screen and (min-width: 1314px){
 display: flex;
    flex-direction: row;
}
}
.video-item {
    flex-direction: row;
    margin-right: 41px;

}

.item-title {
  font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 22px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
text-align: center;
margin-bottom: 19px;

  @media screen and (min-width: 1314px){
text-align: left;
      font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 15px;
}
}
.item-text {
  font-family: "DM Sans",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
color: rgba(255, 255, 255, 0.833);
margin-bottom: 30px;
 @media screen and (min-width: 1314px){
   font-family: "DM Sans",sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.5px;
color: #FFFFFF;
}
}


.video-list-two {
 

   
        @media screen and (min-width: 1314px){
   display: flex;
}

}
.video-item-two {
 margin-right: 20px;
}

.item-title-two {
    font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 22px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
text-align: center;
margin-bottom: 19px;

  @media screen and (min-width: 1314px){
text-align: left;
      font-family: "DM Sans",sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 15px;
}
}
.item-text-two {
     font-family: "DM Sans",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
color: rgba(255, 255, 255, 0.833);
margin-bottom: 30px;
 @media screen and (min-width: 1314px){
   font-family: "DM Sans",sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

}
.video-wrap{
    
display: flex;
flex-direction: column;
margin-left: 80px;
     @media screen and (min-width: 1314px){
display: flex;
    flex-direction: row;
    padding-bottom: 255px;
}
}
.item-img{
width: 314px;
height: 176px;
margin-bottom: 40px;
 @media screen and (min-width: 1314px){
width: 233;
 height: 151px;
}
}
.item-img-two{
width: 314px;
height: 176px;
margin-bottom: 40px;
 @media screen and (min-width: 1314px){
width: 233;
 height: 151px;
}
}